@import '../partial';
.navigation-container {
  .navigation {
    .nav-list-container {
      @include flex(row, nowrap, initial, initial, 0.5rem);
      .nav-list {
        @include flex(row, nowrap, initial, center, 3px);
        list-style: none;
        .icon {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
